
@{
    ViewBag.Title = "Exception";
}

<h2>Исключение!</h2>

<h2>
    Нельзя удалить т.к. имеются записи с данным ремонтом.
    Пожалуйста удалите их, а затем попробуйте снова.
</h2>

<p><a class="btn btn-default" @Html.ActionLink("Назад", "Index", "Работники")</p>
